$primary-color: #1286f7;
$secondary-color: #333;
$background-color: #000;
$accent-color: #fff;

.create-event-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  padding: 0 1rem;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  background-color: $background-color;
  
  .form-title {
    width: 100%;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    color: #1286f7;
  }
  
  .form-group {
    width: calc(50% - 1rem);
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    
    label {
      margin-bottom: 0.25rem;
      color: $accent-color;
    }
    
    input, select, textarea {
      padding: 0.5rem;
      border: none;
      border-bottom: 1px solid #ccc;
      background-color: $accent-color;
      color: $background-color;
      font-size: 1rem;
      font-family: Arial, sans-serif;
      width: 100%;
      border-radius: 5px;
      
      &:focus {
        outline: none;
        border-color: $primary-color;
      }
    }
    
    select {
      appearance: none;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='#007bff' d='M150.059,238.059l105.88,105.88c6.248,6.248,16.379,6.248,22.627,0l105.88-105.88c12.497-12.497,3.654-34.059-14.034-34.059H164.093C146.406,204,137.562,225.562,150.059,238.059z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: right 0.5rem center;
      background-size: 1.25rem auto;
      color: $background-color;
    }
    
    textarea {
      height: 6rem;
      border-radius: 5px;
    }
  }
  
  .form-actions {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    
    button {
      padding: 0.5rem 1rem;
      border: none;
      background-color: $primary-color;
      color: $accent-color;
      font-size: 1rem;
      font-family: Arial, sans-serif;
      cursor: pointer;
      border-radius: 5px;
      
      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }

  .form-group-images {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .form-group-images label {
    margin-bottom: 0.25rem;
    color: $accent-color;
  }
  
  .form-group-images input[type="file"] {
    margin-bottom: 0.5rem;
  }
  
  .btn-upload-images {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: $primary-color;
    color: $accent-color;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    cursor: pointer;
    border-radius: 5px;
    width: 10rem; /* Change the width as desired */
    transition: all 0.3s ease; /* Add transition effect */
  }
  
  .btn-upload-images:hover {
    background-color: darken($primary-color, 10%);
    transform: scale(1.1); /* Add hover effect to enlarge the button */
  }
  
  
  
  
  
  
  
}
