.shows-events {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    padding: 20px;
  }
  
  .card-amount-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .card-amount-container label {
    font-weight: bold;
  }
  
  .card-amount-container select {
    padding: 5px;
    border-radius: 15px;
    border: none;
    background-color: #282828;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
  }
  