@import url("https://fonts.googleapis.com/css?family=Circular+Std&display=swap");

$primary-color: #1DB954; // verde de Spotify
$secondary-color: #191414; // negro de Spotify
$font-family: 'Circular Std', Arial, sans-serif; // fuente de Spotify

.box {
  min-width: 275px;
}

.card {
  border: 1px solid $primary-color;
  border-radius: 5px;
  background-color: $secondary-color;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 16px;
  font-weight: 700;
  color: white;
  margin-bottom: 10px;
}

.category {
  font-size: 20px;
  font-weight: 700;
  color: $primary-color;
  margin-bottom: 10px;
}

.date {
  font-size: 14px;
  font-weight: 400;
  color: white;
  margin-bottom: 10px;
}

.direction {
  font-size: 14px;
  font-weight: 400;
  color: white;
  margin-bottom: 10px;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
}

.modify-button {
  font-size: 14px;
  font-weight: 700;
  color: $secondary-color;
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: lighten(white, 10%);
  }
}

.delete-button {
  font-size: 14px;
  font-weight: 700;
  color: $secondary-color;
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: lighten(white, 10%);
  }
}
